/*
 *  Node instagram component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------

.rainbow-frame() {
  padding: 2px;
  background: @pxl-color-black url(../images/rainbow_square.png) no-repeat top left / cover;
}

// General settings
// -------------------------
.node.node-instagram.view-mode-teaser {
  margin: 0;

  >.row {
    >div.col-sm-12 {
      width: 100%;

      >.field-name-field-picture {
        .field-item {
          .rainbow-frame();

          img {
            width: 100%;
            height: auto;
          }
        }
      }

    }
  }
}

.node.node-instagram.view-mode-default,
.node.node-instagram.view-mode-full {
  margin: 0;

  >.row {
    >div.col-sm-6 {
      >.field-name-title {
        h2 {
          margin: 0 auto @node-title-margin-bottom;
          #pxl-mixins.title();
        }
      }

      >.field-name-field-picture {
        margin: 0 0 @node-field-margin-bottom;

        .field-item {
          .rainbow-frame();
          padding: 4px;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      >.field-name-field-created-time {
        margin: 0 0 @node-field-margin-bottom;
        padding: 0;

        .field-item {
          span {
            #pxl-mixins.subtitle();
          }
        }
      }

      >.field-name-body {
        margin: 0 0 @node-field-margin-bottom;
        #pxl-mixins.wysiwyg-body();
        #pxl-mixins.hyphenate();
      }

    }
  }
}
