/*
 *  Node artist component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-artist.view-mode-bluegreen,
.node.node-artist.view-mode-bluered,
.node.node-artist.view-mode-blueyellow,
.node.node-artist.view-mode-red,
.node.node-artist.view-mode-redgreen,
.node.node-artist.view-mode-orange,
.node.node-artist.view-mode-teaser {
  >.row {
    >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          overflow: hidden;
          padding: 3px;
          #pxl-mixins.border-radius(50%);

          img {
            width: 100%;
            height: auto;
            #pxl-mixins.border-radius(50%);
          }
        }
      }

      >.field-name-field-nickname {
        padding: 8px 0 0;

        .field-item {
          #pxl-mixins.text();
          text-align: center;
        }
      }
    }
  }
}
.node.node-artist.view-mode-bluegreenfull,
.node.node-artist.view-mode-blueredfull,
.node.node-artist.view-mode-blueyellowfull,
.node.node-artist.view-mode-redfull,
.node.node-artist.view-mode-redgreenfull,
.node.node-artist.view-mode-orangefull,
.node.node-artist.view-mode-default,
.node.node-artist.view-mode-full {

  >.row {
    >div.col-sm-6 {
      >.field-name-title {
        h2 {
          margin: 0 auto @node-title-margin-bottom;
          #pxl-mixins.title();
        }
      }

      >.field-name-field-image {
        margin: 0 0 @node-field-margin-bottom;

        .field-item {
          overflow: hidden;
          padding: 4px;
          #pxl-mixins.border-radius(50%);

          img {
            width: 100%;
            height: auto;
            #pxl-mixins.border-radius(50%);
          }
        }
      }

      >.field-name-body {
        margin: 0 0 @node-field-margin-bottom;
        #pxl-mixins.wysiwyg-body();
        #pxl-mixins.hyphenate();
      }

      >.field-name-field-certificates {
        .field-item {
          #pxl-mixins.text();
        }
      }

    }
  }
}

//
// image backgrounds
.node.node-artist.view-mode-red,
.node.node-artist.view-mode-redfull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_1.png) no-repeat top left / cover;
        }
      }
    }
  }
}
.node.node-artist.view-mode-bluegreen,
.node.node-artist.view-mode-bluegreenfull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_2.png) no-repeat top left / cover;
        }
      }
    }
  }
}
.node.node-artist.view-mode-orange,
.node.node-artist.view-mode-orangefull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_3.png) no-repeat top left / cover;
        }
      }
    }
  }
}
.node.node-artist.view-mode-redgreen,
.node.node-artist.view-mode-redgreenfull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_4.png) no-repeat top left / cover;
        }
      }
    }
  }
}
.node.node-artist.view-mode-bluered,
.node.node-artist.view-mode-blueredfull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_5.png) no-repeat top left / cover;
        }
      }
    }
  }
}
.node.node-artist.view-mode-blueyellow,
.node.node-artist.view-mode-blueyellowfull {
  >.row {
    >div.col-sm-6, >div.col-sm-12 {
      >.field-name-field-image {
        .field-item {
          background: #000 url(../images/kreis_verlauf_6.png) no-repeat top left / cover;
        }
      }
    }
  }
}

