/*
 *  Proximity view component
 * --------------------------------------------------*/

// Variables
// -------------------------
@horiz-grid-gutter-dist: @masonry-gutter-dist;
@horiz-grid-row-height: 240px;


// Mixins
// -------------------------

.horizontal-grid() {
  > .pe-container {
    width: 100%;

    .grid-sizer, .pe-item {
      width: 100%;
    }

    .gutter-sizer {
      width: 0;
    }

    @media @tablet {
      .grid-sizer, .pe-item {
        width: (50% - @horiz-grid-gutter-dist/2);
        height: @horiz-grid-row-height;
      }

      .gutter-sizer {
        width: @horiz-grid-gutter-dist;
      }
    }

    .pe-item {
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      margin: 0 0 @horiz-grid-gutter-dist !important;
      opacity: 1.0;
      #pxl-mixins.transition(opacity 1s);

      &.shown {
        opacity: 1.0;
      }

      &.pe-item-ajax, &.pe-item-no-ajax, &.pe-item-linked {
        cursor: pointer;
        // see nodes styling
      }

    }

    // modal dialog
    .modal {
      #pxl-mixins.modal();
    }
  }

}

// General settings
// -------------------------
.view.view-music-albums {
  width: 100%;

  .view-content {
    padding: 0;
    .horizontal-grid();
  }

  //
  // infinite scrolling more button
  .pager.pager--infinite-scroll {
    .infinite-scroll-button();
  }
}

